[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
        branch = main
[submodule "lotus-blockchain-gui"]
	path = lotus-blockchain-gui
	url = https://github.com/Lotus-Community/lotus-blockchain-gui/
		branch = renames_1_5_1
